.cover__subtitle{
    position: relative;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    max-width: 273px;
    z-index: 1;
}

@media(min-width:768px){
    .cover__subtitle{
        font-size: 18px;
        line-height: 26px;
        max-width: 366px;
    }
}
@media(min-width:1024px){
    .cover__subtitle{
        font-size: 18px;
        line-height: 26px;
        max-width: 382px;
    }
}