@import './__title/intro__title.css';
@import './__subtitle/intro__subtitle.css';
@import './__text/intro__text.css';
@import './__list/intro__list.css';
@import './__list-item/intro__list-item.css';
@import './__text-normal/intro__text-normal.css';

.intro{
  min-width: 288px;
  padding: 32px 0;
  margin:0 auto;
}


@media (min-width:768px){
  .intro{
    max-width: 720px;
    padding: 40px 24px ;
  }
}

@media (min-width:1024px){
  .intro{
    max-width: 928px;
    padding:40px 0 50px ;
  }
}

@media (min-width:1280px){
  .intro{
    max-width: 683px;
    margin: 0;
  }
}