@import './__nav/footer__nav.css';
@import './__list/footer__list.css';
@import './__list-item/footer__list-item.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';

.footer{
  padding: 32px 16px;
  min-width: 288px;
  margin: 0 auto;
}

@media(min-width:768px){
  .footer{
    max-width: 722px;
    padding: 50px 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(min-width:1024px){
  .footer{
    max-width: 929px;
    padding: 110px 0 48px;
  }
}
@media(min-width:1280px){
  .footer{
    max-width: 1184px;
    padding: 110px 0 48px;
  }
}