.video__item_observatory{
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url('../../../../img/observatory.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
